<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask서버 환영</title>    
</head>
<body>
    <h2 style="text-align:center;">Flask 서버입니다. </h2>
    <h2> 자전거 사고다발지역 http://127.0.0.1:5000/accident 추가 url로 요청해 주세요.</h2>
    <h2> 자전거 사고현황 그래프 http://127.0.0.1:5000/get_accident_chart 추가 url로 요청해 주세요.</h2>
    <h2> 스쿨존어린이 사고다발지역 http://127.0.0.1:5000/schoolzone 추가 url로 요청해 주세요.</h2>
    <h2> 스쿨존어린이 사고현황 그래프 http://127.0.0.1:5000/get_schoolzone_chart 추가 url로 요청해 주세요.</h2>


</body>
</html>
